.container {
    padding: 4rem;
    background: radial-gradient(#000000, #333333);
    overflow: auto;
    height: 100vh;
    width: 100%;
}

.heading {
    color: hsl(218, 81%, 95%);
    font-size: xx-large;
}

.subheading {
    color: hsl(218, 81%, 75%);
}

.paragraph {
    color: hsl(218, 81%, 85%);
}

input,select {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cols{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup{
   color: white;
    width: 500px;
}
.submit {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.link {
    color: #fff;
}

